<template>
    <app-layout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow-xl sm:rounded-lg pl-3">
                    <h2 class="text-2xl text-center text-red-600 my-4">Benvenuto nella dashboard</h2>
                    <h4 class="py-3">Naviga tramite la navbar e scopri le funzionalità di creazione, visualizzazione, modfica e eliminazione dei dati</h4>
                    <p class="py-2">Sarai guidato dalle regole di validazione durante tutte le azioni che vorrai svolgere</p>
                    <p class="py-1 text-blue-600">Se sei un amministratore potrai caricare i tuoi dati tramite un file excel</p>

                    <h2 class="text-center text-2xl mt-4">Buona navigazione!!</h2>
                </div>
            </div>
        </div>

       
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    



    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            
               
        },
    })
</script>

