<template>
  <app-layout>
    <div class="contianer mx-auto">
      <h1 class="text-3xl text-center text-red-500 my-3">Aggiungi informazioni personali</h1>
      <div class="colomuns-8 flex justify-end">
      <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="mt-5 md:mt-0 md:col-span-2">
          <form @submit.prevent="submit">
            <div class="shadow overflow-hidden sm:rounded-md">
              <div class="px-4 py-5 bg-white sm:p-6">
                <div class="grid grid-cols-6 gap-6">
                  <div class="col-span-6 sm:col-span-3">
                    <label for="name" class="block text-sm font-medium text-gray-700">Nome</label>
                    <input v-model="data.name" type="text" name="name" id="name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                    <div v-if="errors.name">{{ errors.name}}</div>
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label for="surname" class="block text-sm font-medium text-gray-700">Cognome</label>
                    <input v-model="data.surname" type="text" name="surname" id="surname" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                    <div v-if="errors.surname">{{ errors.surname}}</div>
                  </div>

                  <div class="col-span-6 sm:col-span-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input v-model="data.email" type="text" name="email" id="email" autocomplete="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                    <div v-if="errors.email">{{ errors.email}}</div>
                  </div>

                

                  <div class="col-span-6">
                    <label for="address" class="block text-sm font-medium text-gray-700">Indirizzo</label>
                    <input v-model="data.address" type="text" name="address" id="address" autocomplete="street-address" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                    <div v-if="errors.address">{{ errors.address}}</div>
                  </div>

                  <div class="col-span-6">
                    <label for="region" class="block text-sm font-medium text-gray-700">Regione</label>
                    <input v-model="data.region" type="text" name="region" id="region" autocomplete="street-address" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                    <div v-if="errors.region">{{ errors.region}}</div>
                  </div>

                  <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                    <label for="city" class="block text-sm font-medium text-gray-700">Città</label>
                    <input v-model="data.city" type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                    <div v-if="errors.city">{{ errors.city}}</div>
                  </div>

                  <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                    <label for="province" class="block text-sm font-medium text-gray-700">Provincia</label>
                    <input v-model="data.province" type="text" name="province" id="province" autocomplete="address-level1" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                    <div v-if="errors.province">{{ errors.province}}</div>
                  </div>

                  <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                    <label for="cap" class="block text-sm font-medium text-gray-700">ZIP / Codice Postale</label>
                    <input v-model="data.cap" type="text" name="cap" id="cap" autocomplete="postal-code" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" />
                    <div v-if="errors.cap">{{ errors.cap}}</div>
                  </div>
                </div>
              </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
            </div>
          </div>
        </form>
        </div>
      </div>
      </div>
      </div>
    </div>
  </app-layout>
</template>


<script>

    import AppLayout from '@/Layouts/AppLayout.vue'
    import FormSection from '@/Jetstream/FormSection.vue'

  export default  {
      
    components: {
        
      AppLayout,
      FormSection,
            
    },
    props:{
      errors: Object,
        
    },

    data() {

      return {

        data: {

          name: '',
          surname: '',
          email: '',
          region: '',
          province: '',
          address: '',
          city: '',
          cap: '',
          
        }
      }
    },

    methods: {

    async submit() {

        let response = await this.$inertia.post('/data/store', this.data)
      }
    },
  }
</script>
