<template>
    <app-layout>
        <div class="text-red-600 my-3 text-center">
        {{ $page.props.flash.error }}
        </div>
        <div class="container mx-auto">
            <div class="columns-1">
                <h1 class="text-3xl text-center text-red-600 my-3">Dati</h1>
            </div>
        </div>
        <div class="container">
            <table class="table-auto w-screen">
                <thead class="text-center">
                    <tr class="text-center">
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Email</th>
                        <th>Regione</th>
                        <th>Provincia</th>
                        <th>Città</th>
                        <th>Indirizzo</th>
                        <th style="width:55px">CAP</th>
                        <th style="width:210px">Azioni</th>     
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in data" :key="data.id" class="text-center">
                        <td>{{data.name}}</td>
                        <td>{{data.surname}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.region}}</td>
                        <td>{{data.province}}</td>
                        <td>{{data.city}}</td>
                        <td>{{data.address}}</td>
                        <td>{{data.cap}}</td>
                        <td>
                            <Link :href="route('data.edit', {data: data})"><button type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Modifica</button>
                            </Link>
                                    
                            <Link :href="route('data.delete', {data: data})"><button @click="deleteData(data)" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 m-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Elimina</button>
                            </Link>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
    </app-layout>  
</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue'



export default {

     components: {
        
      AppLayout,    
    },

    props: ['data'],
    
    methods: {
        
        submit() {

            this.$inertia.get('/data/edit/', this.data)
        },

        deleteData() {
            this.$inertia.delete(`/data/delete/${this.data}`)      
        },
    },
}
</script>
