<template>
  <app-layout>

    <h1 class="text-3xl text-center text-red-600 my-3">Importa i tuoi dati tramite un file excel</h1>

    <form @submit.prevent="submit">
    <div class="container mx-auto grid grid-cols-3 gap-2 my-8">
      <div class="align-middle w-2/4 col-span-2 col-start-2 py-5">
        <label for="file" class="pb-3 block text-center mb-2 text-l font-medium text-red-600 dark:text-gray-300">Carica file
        </label>
        <input type="file" @input="form.file = $event.target.files[0]" class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none focus:border-transparent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400">
      </div>
      <div class="col-start-2 relative">
        <button class="absolute inset-x-0 top-0 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 " type="submit">Invio</button>
      </div>
    </div>
    </form>
  </app-layout>
</template>

<script>
import { useForm } from '@inertiajs/inertia-vue3'
import AppLayout from '@/Layouts/AppLayout.vue'

export default {
  components:{
    AppLayout
  },

  setup () {
    const form = useForm({
      file: null,
    })

    function submit() {
      form.post('/store')
    }

    return { form, submit }
  },
}
</script>